$primary: #342475;
$secondary: #7a76e2;
$light: #d7d6f6;

$border-radius: 1rem;
$form-select-font-size: 0.75rem;
$form-select-bg: $secondary;

$btn-border-radius-sm: 1rem;
$input-bg: $light;
$input-padding-y: 0.75rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

.btn,
.form-control {
	height: 3rem;
}

.btn-sm,
.form-sm {
	height: 2rem;
}

.text-small {
	font-size: 0.75rem;
}

.h3,
h3 {
	font-size: 2rem;
	font-weight: bold;
}

.container-max-width {
	max-width: 60rem;
}

.container-max-width-form {
	width: min(30rem, 100%);
}

body {
	background-color: #f1f0ff;
	min-height: 100vh;
}

#root {
	min-height: 100vh;
	display: flex;
}

.sub-heading {
	font-size: 1rem;
}

.single-product-image {
	max-height: min(70rem, 60vh);
	aspect-ratio: 1;
}
